<div class="bg-[#00489c] pb-10">
  <div class="flex h-16 w-full items-center justify-between bg-white px-4 text-sm text-zinc-800 shadow-lg backdrop-blur transition-colors duration-500 ease-out sm:px-10 md:h-20">
    <div class="flex items-center gap-10">
      <a class="relative flex h-12 w-28 flex-shrink-0 items-center justify-center md:w-32" href="https://paradane.com" target="_blank">
        <img src="https://cdn.paradane.com/images/logo.svg" />
      </a>
    </div>
    <div class="flex items-center gap-10">
      <h1 class="flex items-center gap-1 text-base font-bold sm:text-lg md:text-xl text-[#00489c]/90">Business Report</h1>
    </div>
  </div>
</div>
<div class="px-5 md:px-10 py-10 pt-5">
  <div class="flex flex-col">
    <h2 class="text-2xl font-bold text-[#00489c]/90 block mb-5">Information</div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
      <div>
        <ul class="text-zinc-600 text-sm block [&>li]:my-2 [&>li]:list-disc [&>li]:ml-5">
          <li>The name of the business is <b>{BUSINESS_NAME}</b>.</li>
          <li>The business is located at <b>{BUSINESS_ADDRESS}, {BUSINESS_CITY}, {BUSINESS_STATE}, {BUSINESS_COUNTRY}</b>.</li>
          <li>The business coordinates are <b>{BUSINESS_COORDS_LAT}, {BUSINESS_COORDS_LONG}</b>.</li>
          <li>The price range, as shown on Yelp, is <b>{BUSINESS_PRICE}</b>.</li>
          <li>The business has a total of <b>{BUSINESS_YELP_TOTAL_REVIEWS}</b> reviews on Yelp and <b>{BUSINESS_GOOGLE_PLACE_TOTAL_REVIEWS}</b> reviews on Google Place.</li>
          <li>The business is rated <b>{BUSINESS_YELP_RATING}/5</b> on Yelp.</li>
          <li>The current status is <b>{BUSINESS_STATUS}</b>.</li>
          <li>The listed category/categories are: <b>{BUSINESS_CATEGORIES}</b>.</li>
          <li>The business opening hours are: <b>{BUSINESS_OPEN_DAYS}</b>.</li>
        </ul>
      </div>
      <div class="relative bg-zinc-100 rounded-xl overflow-hidden min-h-52 w-full">
        <div class="absolute top-4 left-4 text-xs text-[#00489c]/50">Map Image - {BUSINESS_COORDS_LAT}, {BUSINESS_COORDS_LONG}</div>
        <div class="absolute inset-0">
          <img class="w-full h-full object-cover object-center" src="{BUSINESS_MAP_IMAGE}" border="0" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="px-5 md:px-10 py-10 pt-0">
  <div class="flex flex-col">
    <h2 class="text-2xl font-bold text-[#00489c]/90 block mb-5">Source</div>
    <ul class="text-zinc-600 block [&>li]:my-2 [&>li]:list-disc [&>li]:ml-5 text-sm">
      <li><b>Website:</b> <a href="{BUSINESS_WEBSITE_URL}">{BUSINESS_WEBSITE_URL}</a></li>
      <li><b>Yelp:</b> <a href="{BUSINESS_WEBSITE_URL}">{BUSINESS_YELP_URL}</a></li>
      <li><b>Google Place:</b> <a href="{BUSINESS_GOOGLE_PLACE_URL}">{BUSINESS_GOOGLE_PLACE_URL}</a></li>
    </ul>
  </div>
</div>
<div class="px-5 md:px-10 py-10 pt-0">
  <div class="flex flex-col">
    <h2 class="text-2xl font-bold text-[#00489c]/90 block mb-5">Contact Information</div>
    <ul class="text-zinc-600 block [&>li]:my-2 [&>li]:list-disc [&>li]:ml-5 text-sm">
      <li><b>Email:</b> {BUSINESS_EMAILS}</li>
      <li><b>Phone:</b> {BUSINESS_PHONE}</li>
      <li><b>Web-Page:</b> <a href="{BUSINESS_CONTACT_PAGE[INDEX]_URL}">{BUSINESS_CONTACT_PAGE[INDEX]_URL}</a></li>
    </ul>
  </div>
</div>
