<!-- content fragment; styles are injected by pdf_service -->
<div class="bg-[#00489c] pb-10">
    <div class="flex h-16 w-full items-center justify-between bg-white text-sm text-zinc-800 shadow-lg backdrop-blur transition-colors duration-500 ease-out md:h-20">
      <div class="flex items-center gap-10">
        <a class="relative flex h-12 w-28 flex-shrink-0 items-center justify-center md:w-32" href="https://paradane.com" target="_blank">
          <img src="https://cdn.paradane.com/images/logo.svg" />
        </a>
      </div>
      <div class="flex items-center gap-10">
        <h1 class="flex items-center gap-1 text-base font-bold sm:text-lg md:text-xl text-[#00489c]/90">Website Report</h1>
      </div>
    </div>
  </div>
  <div class="py-10">
    <div class="flex flex-col">
      <h2 class="text-2xl font-bold text-[#00489c]/90 block mb-5">PageSpeed</h2>
      <div
        class="relative flex flex-col w-full h-full overflow-hidden text-gray-700 bg-white shadow-md rounded-xl border border-zinc-100">
        <table class="w-full text-left table-auto min-w-max">
          <thead>
            <tr>
              <th class="p-4 border-b border-gray-100 bg-blue-gray-50">
                <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                  Page URL
                </p>
              </th>
              <th class="p-4 border-b border-gray-100 bg-blue-gray-50">
                <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                  Page Type
                </p>
              </th>
              <th class="p-4 border-b border-gray-100 bg-blue-gray-50">
                <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                  Page Score
                </p>
              </th>
              <th class="p-4 border-b border-gray-100 bg-blue-gray-50">
                <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                  Load Time (sec)
                </p>
              </th>
            </tr>
          </thead>
          <tbody>
            <!--PAGESPEED_ROW_START-->
            <tr>
              <td class="p-4 border-b border-gray-50 max-w-96">
                <p class="block font-sans text-sm antialiased leading-normal text-blue-gray-900 truncate font-semibold text-[#00489c]">
                  {BUSINESS_PAGE[INDEX]_URL}
                </p>
                <p class="mt-1 text-xs text-zinc-600">
                  {BUSINESS_PAGE[INDEX]_URL_SUMMARY}
                </p>
              </td>
              <td class="p-4 border-b border-gray-50">
                <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                  {BUSINESS_PAGE[INDEX]_URL_TYPE}
                </p>
              </td>
              <td class="p-4 border-b border-gray-50">
                <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                  {BUSINESS_PAGE[INDEX]_URL_SCORE} / 100
                </p>
              </td>
              <td class="p-4 border-b border-gray-50">
                <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                  {BUSINESS_PAGE[INDEX]_URL_LOAD_TIME} sec
                </p>
              </td>
            </tr>
            <!--PAGESPEED_ROW_END-->
          </tbody>
        </table>
      </div>
      <div class="mt-4 text-sm text-zinc-600">
        If a website takes more than <b>3 seconds to load</b>, the probability of a user abandoning the site <b>increases by 32%</b>.
        The average speed of this website is <b>{BUSINESS_PAGE_TOTAL_AVERAGE_SPEED}</b> seconds, with an average PageSpeed score of <b>{BUSINESS_PAGE_TOTAL_AVERAGE_SCORE}</b>.
      </div>
    </div>
  </div>
  <div class="py-10 pt-0">
    <div class="flex flex-col">
      <h2 class="text-2xl font-bold text-[#00489c]/90 block mb-5">SEO</h2>
      <div
        class="relative flex flex-col w-full h-full overflow-hidden text-gray-700 bg-white shadow-md rounded-xl border border-zinc-100">
        <table class="w-full text-left table-auto min-w-max">
          <thead>
            <tr>
              <th class="p-4 border-b border-gray-100 bg-blue-gray-50">
                <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                  Page URL
                </p>
              </th>
              <th class="p-4 border-b border-gray-100 bg-blue-gray-50">
                <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                  Page Score
                </p>
              </th>
              <th class="p-4 border-b border-gray-100 bg-blue-gray-50">
                <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                  Explanation
                </p>
              </th>
            </tr>
          </thead>
          <tbody>
            <!--SEO_ROW_START-->
            <tr>
              <td class="p-4 border-b border-gray-50 max-w-96">
                <p class="block font-sans text-sm antialiased leading-normal text-blue-gray-900 truncate font-semibold text-[#00489c]">
                  {BUSINESS_PAGE[INDEX]_URL}
                </p>
              </td>
              <td class="p-4 border-b border-gray-50">
                <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                  {BUSINESS_PAGE[INDEX]_URL_SEO_SCORE} / 100
                </p>
              </td>
              <td class="p-4 border-b border-gray-50 max-w-96">
                <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                  {BUSINESS_PAGE[INDEX]_URL_SEO_EXPLANATION}
                </p>
              </td>
            </tr>
            <!--SEO_ROW_END-->
          </tbody>
        </table>
      </div>
      <div class="mt-4 text-sm text-zinc-600">
        Google uses page speed as a <b>ranking factor</b>—slow websites risk <b>losing visibility</b> in search results.
        The average score for this website is <b>{BUSINESS_PAGE_TOTAL_AVERAGE_SEO_SCORE}</b>.
      </div>
    </div>
  </div>
    